@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kadwa:wght@400;700&family=Lato:wght@300&family=Poppins:wght@200&family=Tsukimi+Rounded:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins', sans-serif;
}
body{
    overflow-x:hidden;
}
.nav ul{
    font-size: 1em;
    font-weight: normal;
}
.header{
    background: linear-gradient(100.3deg, #C5F8FF 0%, #E8FFE8 100%);
    width: 100%;
    height: 70vh;

}
.img_1{
    margin: 0 5%;
}
.Theme{
    background: linear-gradient(100.3deg, #C5F8FF 0%, #E8FFE8 100%);
    width: 100%;
    height: 30%;
}
.Tres{
    font-size: 3em;
    font-weight: lighter;
}
.middle{
    font-size: 1em;
    font-weight: bold;
    color: #09376B;
}
.bg-img1{
    height:90vh; 
    width: 85%; 
    margin:0 8%;
}
.objective{
    margin: 5% 0 0 10%;
    font-weight: bold;
    color: #09376B;
}
.theme-title{
    font-size: 2.5em;
}
.obj-row{
    width: 100%;
}
.border{
    width: 100vw;
    min-height: 20vh;
    border-radius: 15px;
    margin-right: 5%;
    margin-bottom: 2%;
}
.objfont{
    overflow: hidden;
    color: #298CFF;
    font-size: 1em;
    text-transform: uppercase;
}
.objfontp{
    font-size: 1em;
    font-weight: normal;
    width: 90%;
}
.Ideate_1{
    margin: 2% 10%;
}

.top h3{
    font-weight: bold;
    color: #09376B;
} 
.titleT{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    margin: 2% 0;
    color:#298CFF;
    ;
}
.img-t{
    font-size:1.5em;
    font-weight: bold;
    margin: 1% 0;
    color:#09376B;
}
.img-aa{
    width: 90%;
    height: 100%;
}
.img-p{
    width: 90%;
    font-size: 1.2em;
    font-weight: normal;
    color:#74748A ;
}
.footer{
    background-color:#F2F4FF;
    width: 100%;
    height: 10vh;
}
.footer-t{
    padding-top:2% ;
    font-size: 16px;
    font-style: normal;
    line-height: 32px;
}
@media screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    .main-img{
        width: 100%;
        height: 10vh;
    }
    .Tres{
        font-size: 30px;
        height: 40%;
    }
    .middle{
        font-size:20px;
    }
    .border{
        height: 10%;
    }
}
@media screen and (max-width:800px) {
    .bg-img1{
    
        height: 50vh;
    }
}
